.features-container{
    background: #323232;
    position: relative;
    z-index: 0;
    overflow: hidden;
    .wave{
        position: absolute;
        left: 0rem;
        bottom: 0rem;
        top: 50%;
        width: 100%;
        z-index: -1;
        
    }
}
.features{
    min-height: 90vh;
    width: 80%;
    margin: auto;   
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    .cards{
        display: flex;
        justify-content: space-between;
        color: black;
       
        .card{
            background: white;
            margin: 0rem 3rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            overflow: hidden;
            border-radius: 2rem;
            h4{
                margin: 2rem 0rem 1rem 0rem;
            }
            p{
                padding: 2rem;
            }
            img{
                object-fit: cover;
            }
            
        }
    }
}
