footer{
    min-height: 10vh;
    background: black;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        z-index: 1;
        flex: 1;
    }
    h1{
        flex: 17;
    }
}